{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         org.babashka/sci    {:mvn/version "0.3.2"}
         funcool/promesa     {:mvn/version "12.0.0-RC2"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.75.1190"}}
         :main-opts   ["-m" "kaocha.runner"]}
  :cljs-test {:extra-paths ["test"]
              :extra-deps  {thheller/shadow-cljs {:mvn/version "2.28.20"}
                            org.clojure/clojurescript {:mvn/version "1.11.132"}}}}}
